    <!-- People Section -->
    <section id="people" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>People</h2>
                <div class="row">
                  <img src="/img/group_photo_2022fall_1.jpeg" alt="group_photo" width="49%" style="display:inline-block;">
                  <img src="/img/group_photo_2022fall_2.jpeg" alt="group_photo" width="49%" style="display:inline-block;">
                  <br>
                  <p>DIAG Group Photo 2022 Fall Term</p>
                </div>
                <br><br><br>

                <div class="row">
                  <div class="col-md-3">
                    <img src="/img/jean_profile2022.jpg" alt="Jean's profile photo with her face" width="150">
                    <br>
                    <p><a href="https://jyskwon.github.io/">Jean Y. Song</a><br>
                      Assistant Professor</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/chanwoo_profile_picture.jpg" alt="Chanwoo's profile photo with his face" width="150">
                    <br>
                    <p><a href="">Chanwoo Park</a><br>
                      M.S. Student</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/dokyun_profile_picture.jpg" alt="Dokyun's profile photo with his face" width="150">
                    <br>
                    <p><a href="">Dokyun Lee</a><br>
                      M.S. Student</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/yeonsun_profile_picture.jpg" alt="Yeonsun's profile photo with his face" width="150">
                    <p><a href="">Yeonsun Yang</a><br>
                      M.S. Student</p>
                  </div>
                </div>
                <br><br><br>

                <div class="row">
                  <div class="col-md-3">
                    <img src="/img/sungmin_profile_picture.jpg" alt="Sungmin's profile photo with his face" width="150">
                    <p><a href="">Sungmin Ha</a><br>
                      M.S. Student</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/hojin_profile_picture.jpg" alt="Jean's profile photo with her face" width="150">
                    <br>
                    <p><a href="https://jyskwon.github.io/">Hojin Jin</a><br>
                      Undergraduate Research Intern</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/nayoung_profile_picture.jpg" alt="Chanwoo's profile photo with his face" width="150">
                    <br>
                    <p><a href="">Na Young Kim</a><br>
                      Undergraduate Research Intern</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/hyeonho_profile_picture.jpg" alt="Dokyun's profile photo with his face" width="150">
                    <br>
                    <p><a href="">Hyeonho Kwon</a><br>
                      Undergraduate Research Intern</p>
                  </div>
                </div>
                <br><br><br>

                <div class="row">
                  <div class="col-md-3">
                   <img src="/img/giwon_profile_picture.jpg" alt="Yeonsun's profile photo with his face" width="150">
                   <p><a href="">Gi Won Lee</a><br>
                      Undergraduate Research Intern</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/sangeun_profile_picture.png" alt="SangEun's profile photo with his face" width="150">
                    <br>
                    <p><a href="">SangEun Seo</a><br>
                      Undergraduate Research Intern</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/henrietta_profile_picture.jpg" alt="henrietta's profile photo with her face" width="150" height="200">
                    <br>
                    <p><a href="https://osaruiyobo.wixsite.com/portfolio">Giwa Osaruiyobo Henrietta</a><br>
                      Undergraduate Research Intern</p>
                  </div>

                  <div class="col-md-3">
                    <img src="/img/chanyu_profile_picture.jpg" alt="chanyu's profile photo with his face" width="150" height="200">
                    <br>
                    <p><a href="https://chanyumoon.github.io">Chanyu Moon</a><br>
                      Undergraduate Research Intern</p>
                  </div>
                 <div class="row">
                     <img src="/img/gunuk_profile_picture.JPG" alt="Gunuk's profile photo with his face" width="150" height="200">
                    <br>
                    <p><a href="">Gunuk Nam</a><br>
                      Undergraduate Research Intern</p>
                 </div>

                </div>
                <br>

            </div>
        </div>
    </section>
