    <!-- Projects Section -->
    <section id="people" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>People</h2>
                <img src="/img/JeanSong_profile2021.png" alt="Jean's profile photo with her face" width="150" style="float:left;">
                <br><br>
                <p><a href="https://jyskwon.github.io/">Jean Y. Song</a><br>
                Assistant Professor (starting July 2021)</p>
            </div>
        </div>
    </section>
