<!-- Peoples Section -->

<section id="people" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>People</h2>
			<div class="row">
				<!--img src="/img/group_photo_2022fall_1.jpeg" alt="group_photo" width="49%" style="display:inline-block;">
				<img src="/img/group_photo_2022fall_2.jpeg" alt="group_photo" width="49%" style="display:inline-block;"-->
				<img src="/img/group_photo_2023spring.jpeg" alt="group_photo" width="49%" style="display:inline-block;">
				<br>
				<p>DIAG Group Photo 2023 Spring Term</p>
			</div>
			<br><br><br><br>
		</div>




		<div class="row">
			<div class="col-md-12">
				<h3>Professor</h3>
				<div class="photoContainer">
					<img src="/img/jean_profile2023.jpeg" alt="Jean's profile photo with her face">
				</div>
				<p><a href="https://jyskwon.github.io/">Jean Y. Song</a><br>
				  Assistant Professor</p>
			</div>
		</div>
		<br><br><br>

		<h3>Graduate Students</h3>

		<div class="row">
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/chanwoo_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Chanwoo Park</a><br>
				  Ph.D. Student</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/dokyun_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Dokyun Lee</a><br>
				  Ph.D. Student</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/yeonsun_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Yeonsun Yang</a><br>
				  Ph.D. Student</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/sungmin_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Sungmin Ha</a><br>
				  Ph.D. Student</p>
			</div>
		</div>
		<br><br><br>

		<h3>Undergraduate Students</h3>

		<div class="row">
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/dain_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Dain Kim</a><br>
				  Undergraduate Research Intern</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/sihwan_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Sihwan Seok</a><br>
				  Undergraduate Research Intern</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/sungmin_ju_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Sungmin Ju</a><br>
				  Undergraduate Research Intern</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/subin_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Subin Jo</a><br>
				  Undergraduate Research Intern</p>
			</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/huidam_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Huidam Woo</a><br>
				  Undergraduate Research Intern</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/KMS_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Minseong Kim</a><br>
				  Undergraduate Research Intern</p>
			</div>
			<div class="col-md-3">
				<div class="photoContainer">
					<img src="/img/chan_profile_picture.jpg" alt="Profile photo with his/her face">
				</div>
				<p><a href="">Chan Lee</a><br>
				  Undergraduate Research Intern</p>
			</div>
		</div>
		<br><br><br>
		</div>

		<div class="col-lg-8 col-lg-offset-2">
			<h3>Alumni</h3>
			<ul style="font-size: 18px; text-align:left;">
				<li>
					Ahyeon Shin, Undergrad Intern (DGIST), Winter 2023
				</li>
				<li>
					SangEun Seo, Undergrad Intern (UNIST), Winter 2023
				</li>
				<li>
					Chanyu Moon, Undergrad Intern (DGIST), Winter 2023
				</li>
				<li>
					Gunuk Nam, Undergrad Intern (Handong Global University), Winter 2023
				</li>
				<li>
					Na Young Kim, Undergrad Intern (DGIST), Winter 2022 - Winter 2023
				</li>
				<li>
					Hojin Jin, Undergrad Intern (DGIST), Winter 2022 - Fall 2022
				</li>
				<li>
					Hyeonho Kwon, Undergrad Intern (DGIST), Winter 2022 - Fall 2022
				</li>
				<li>
					Gi Won Lee, Undergrad Intern (DGIST), Winter 2022 - Fall 2022
				</li>
				<li>
					Giwa Osaruiyobo Henrietta, Graduate Intern (DGIST), Summer 2022
				</li>

			</ul>
		</div>
	</div>
</section>
