    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>

                <p>Our research projects include but are not limited to the following list.
                We are opened to discuss new projects in the topic of AI, HCI, Crowdsourcing, and Human Computation.
                Please feel free to contact us with exciting new ideas.</p>
                <br><br><br><br>

                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <p>"Efficient Imitation Learning for Autonomous Vehicles via Crowdsourcing High-Risk Examples"</p>
                    </div>
                    <div class="col-md-4">
                      <img src="/img/00118185.png" alt="" width="300">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <p>"Intervention Techniques to Protect Mental Health for Crowd Workers Exposed to Disturbing Content"</p>
                    </div>
                    <div class="col-md-4">
                      <img src="/img/00118185.png" alt="" width="300">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      <p>"Understanding Experts' Task Complition Workflow to Automate Using Crowd-AI Hybrid Systems"</p>
                    </div>
                    <div class="col-md-4">
                      <img src="/img/00118185.png" alt="" width="300">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
