    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>

                    <p>Our research projects include but are not limited to the following list.
                      We are opened to discuss new projects in the topic of AI, HCI, Crowdsourcing, and Human Computation.
                      Please feel free to contact us with exciting new projects.</p>
                    <br><br><br><br>

                    <p>"Efficient Imitation Learning for Autonomous Vehicles via Crowdsourcing High-Risk Examples"</p>
                    <img src="/img/00118185.png" alt="" width="500" height="333">
                    <br><br><br><br>
                    <p>"Intervention Techniques to Protect Mental Health for Crowd Workers Exposed to Disturbing Content"</p>
                    <img src="/img/00118185.png" alt="" width="500" height="333">
                    <br><br><br><br>
                    <p>"Understanding Experts' Task Complition Workflow to Automate Using Crowd-AI Hybrid Systems"</p>
                    <img src="/img/00118185.png" alt="" width="500" height="333">
                </div>
            </div>
        </div>
    </section>
