    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
                <h2>Projects</h2>

                <p>Our research projects include but are not limited to the following list.
                We are open to discuss new project ideas in the topic of Human-Computer Interaction, Human-AI Interaction, Crowdsourcing,
                Human Computation, or any other related domains.
                Please feel free to contact us if you have exciting ideas.</p>
                <br>

                <div class="container">
                  <div class="row">
                    <div class="col-md-8" style="font-size: 18px; text-align:left;">
                      <p><u>Facilitating Online Community Moderation using AI Techniques</u></p>
                      <p>Communities on social platforms have a group of users who volunteer to moderate their communities, called online moderators. They respond to the behavior of community members that violate rules and work to improve overall interaction experiences between community members.
                        This project aims to build human-AI interaction tools to support moderators to more easily and transparently moderate their online communities.
                      </p>
                    </div>
                    <div class="col-md-4">
                      <br><br>
                      <img src="/img/proj_modsandbox.png" alt="" width="300">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8" style="font-size: 18px; text-align:left;">
                      <p><u>Improving Facial Emotion Recognition for both Human and AI</u></p>
                      <p>This project focuses on enhancing Facial Emotion Recognition(FER) for individuals who struggle with recognizing facial expressions, as well as for current models with low FER performance.
                        To address these challenges, we developed a gamified application called "Find the Bot!" that re-labels FER datasets and trains individuals with difficulties in recognizing facial emotions simultaneously.
                        Our vision is to improve FER abilities for individuals with weak FER, leading to enhanced relationship quality, social acceptance, and increased social productivity, while also contributing to the development of reliable multi-labeling for facial expression datasts.</p>
                    </div>
                    <div class="col-md-4">
                      <br><br><br><br>
                      <img src="/img/proj_fergame.png" alt="" width="300">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8" style="font-size: 18px; text-align:left;">
                      <p><u>Reducing Negative Emotions for Crowd Workers Exposed to Disturbing Content</u></p>
                      <p>Often times crowd workers who do content moderation or data annotations are exposed to harmful content in their daily routines.
                        This project explores UI intervention techniques that can prevent crowd workers from getting too much negative emotional impacts when conducting these tasks.
                        Through this study, we aim to find ways to maintain the quality and cost of the crowdsourced work while protecting the emotions and mental health of crowd workers.</p>
                    </div>
                    <div class="col-md-4">
                      <br><br>
                      <img src="/img/proj_panas.jpg" alt="" width="300">
                    </div>
                  </div>
                  <br><br><br>
                  <div class="row">
                    <div class="col-md-8" style="font-size: 18px; text-align:left;">
                      <p><u>Continual Learning from a Data Science Perspective</u></p>
                      <p>Implementing a model created in a controlled environment into the real world requires solving the problem of Catastrophic Forgetting.
                        To solve that problem, we seek to draw inspiration from the Human Complementary Learning Systems (CLS) from a data science perspective.
                        Through this research, we hope that the model created in a controlled environment can continuously learn in the real world, and through this, the controlled model can be applied to daily life.</p>
                    </div>
                    <div class="col-md-4">
                      <br><br><br><br>
                      <img src="/img/proj_cl.png" alt="" width="300">
                    </div>
                  </div>
                  <br><br><br>
                  <div class="row">
                    <div class="col-md-8" style="font-size: 18px; text-align:left;">
                      <p><u>Augmenting QnA Dataset for Technical Documents with Crowdsourcing</u></p>
                      <p>This project proposes a new sentence structuring method and crowdsourcing interface to augment rich Korean dataset in text documents specialized in technology and science.
                        Our novel authoring tool enables to efficiently generating various question and answer pairs for technical documentation by breaking down sentences into elements that can be recombined to form new sentences.</p>
                    </div>
                    <div class="col-md-4">
                      <br>
                      <img src="/img/proj_koreanannotation.png" alt="" width="300">
                    </div>
                  </div>
                </div>
        </div>
    </section>
