    <!-- Publications Section -->
    <section id="publications" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Publications</h2>

                <h3><strong>Conference and Journal Papers</strong></h3>
                <div class="row">
                  <ul>
                    <li>
                      Sunjae Lee, Hayeon Lee, Hoyoung Kim, Sangmin Lee, Jeong Woon Choi, Yuseung Lee, Seono Lee, Ahyeon Kim, <b>Jean Y. Song</b>, Sangeun Oh, Steven Y. Ko, and Insik Shin.
                      <a href="/publications/mobicom21-fluid-xp.pdf">FLUID-XP: Flexible User Interface Distribution forCross-Platform Experience.
                      </a>
                      In Proceedings of the International Conference On Mobile Computing And Networking (MobiCom 2021).
                    </li>
                    <li>
                      Zhefan Ye, <b>Jean Y. Song</b>, Zhiqiang Sui, Stephen Hart, Jorge Vilchis, Arbor, Walter S. Lasecki, and Odest C. Jenkins.
                      <a href="/publications/IUI2021_human-in-the-loop.pdf">Human-in-the-loop Pose Estimation via Shared Autonomy.
                      </a>
                      In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2021).
                      <font color="#FFC300">Best Paper Honorable Mention</font>
                    </li>
                    <li>
                      Stephan J. Lemmer, <b>Jean Y. Song</b>, and Jason J. Corso.
                      <a href="/publications/CHI2021_VOT.pdf">Crowdsourcing More Effective Initializations for Single-target Trackers Through Automatic Re-querying.
                      </a>
                      In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2021).
                    </li>
                    <li>
                      Yoonjoo Lee, John Joon Young Chung, <b>Jean Y. Song</b>, Minsuk Chang, and Juho Kim.
                      <a href="/publications/CHI2021_SWM.pdf">Personalizing Ambience and Illusionary Presence: How People Use "Study with Me" Videos to Create Effective Studying Environments.
                      </a>
                      In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2021).
                    </li>
                    <li>
                      <b>Jean Y. Song</b>, John Joon Young Chung, David F. Fouhey, and Walter S. Lasecki.
                      <a href="/publications/CReference_CSCW2020.pdf">C-Reference: Improving 2D to 3D Object Pose Estimation Accuracy via Crowdsourced Joint Object Estimation.
                      </a>
                      In Proceedings of the ACM International Conference on Computer Supported Cooperative Work and Social Computing (CSCW 2020).
                    </li>
                    <li>
                      Divya Ramesh, Anthony Z. Liu, Andres J. Echeverria, <b>Jean Y. Song</b>, Nicholas R. Waytowich, and Walter S. Lasecki.
                      <a href="/publications/contrast_effect_AAMAS2020.pdf">Yesterday’s Reward is Today’s Punishment: Contrast Effects in Human Feedback to Reinforcement Learning Agents.
                      </a>
                      In Proceedings of the International Conference on Autonomous Agents and Multiagent Systems (AAMAS 2020).
                      <font color="#FFC300">Pragnesh Jay Modi Best Student Paper</font>
                    </li>
                    <li>
                      Yan Chen, Maulishree Pandey, <b>Jean Y. Song</b>, Walter S. Lasecki, and Steve Oney.
                      <a href="/publications/GUITesting_CHI2020.pdf">Improving Crowd-Supported GUI Testing with Structural Guidance.
                      </a>
                      In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2020).
                    </li>
                    <li>John Joon Young Chung, <b>Jean Y. Song</b>, Sindhu Kutty, Sungsoo (Ray) Hong, Juho Kim, and Walter S. Lasecki.
                      <a href="/publications/ManyThoughts_CSCW2019.pdf">Efficient Elicitation Approaches to Estimate Collective Crowd Answers.
                      </a>
                      In Proceedings of the ACM International Conference on Computer Supported Cooperative Work and Social Computing (CSCW 2019).
                      Austin, TX. <font color="#FFC300">Best Paper Honorable Mention</font>
                    </li>
                    <li><b>Jean Y. Song</b>, Raymond Fok, Juho Kim, and Walter S. Lasecki.
                      <a href="https://doi.org/10.1145/3237188">FourEyes:
                        Leveraging Tool Diversity as a Means to Improve Aggregate Accuracy in Crowdsourcing.
                      </a>
                      In ACM Transactions on Interactive Intelligent Systems, Volume 19, Issue 1, Article No. 3 (TiiS 2019).
                    </li>
                    <li><b>Jean Y. Song</b>, Stephan J. Lemmer, Michael Xieyang Liu, Shiyan Yan, Juho Kim, Jason J. Corso, and Walter S. Lasecki.
                      <a href="/publications/popup_IUI2019.pdf">Popup:
                        Reconstructing 3D Video Using Particle Filtering to Aggregate Crowd Responses.
                      </a>
                      In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2019).
                      Los Angeles, CA. <!--[25% Acceptance Rate]-->
                    <li> <b>Jean Y. Song</b>, Raymond Fok, Alan Lundgard, Fan Yang, Juho Kim, and Walter S. Lasecki.
                      <a href="/publications/IUI2018_FourEyes.pdf">Two Tools are Better Than One:
                        Tool Diversity as a Means of Improving Aggregate Crowd Performance.
                      </a>
                      In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2018).
                      Tokyo, Japan. <!--[23% Acceptance Rate]--><font color="#FFC300">Best Student Paper Honorable Mention</font>
                    </li>
                  </ul>
                </div>
                <h3><strong>Posters, Demos, and Workshop Papers</strong></h3>
                <div class="row">
                  <ul>
                    <li>Andrew M. Vernier, <b>Jean Y. Song</b>, Edward Sun, Allison Kench, and Walter S. Lasecki.
                      <a href="/publications/corsica_UIST2019-poster.pdf">Towards Universal Evaluation of Image Annotation Interfaces.
                      </a>
                      In Proceedings of the ACM Symposium on User Interface Software and Technology (UIST 2019).
                      New Orleans, LA.
                    </li>
                    <li> <b>Jean Y. Song</b>, Raymond Fok, Fan Yang, Kyle Wang, Alan Lundgard, and Walter S. Lasecki.
                      <a href="/publications/GroupSight2017_ToolDiversity.pdf">Tool Diversity
                        as a Means of Improving Aggregate Crowd Performance on Image Segmentation Tasks.
                      </a>
                      In HCOMP Workshop on Human Computation for Image and Video Analysis (HCOMP GroupSight 2017).
                      Quebec City, Quebec. 2017.
                    </li>
                    <li> Sai R. Gouravajhala, <b>Jean Y. Song</b>, Jinyeong Yim, Raymond Fok, Yanda Huang, Fan Yang, Kyle Wang, Yilei An, and Walter S. Lasecki.
                      <a href="/publications/eureca_ci2017.pdf">Towards Hybrid Intelligence for Robotics.
                      </a>
                      In Collective Intelligence Conference (CI 2017). New York, NY.
                    </li>
                    <li> <b>Jean Y. Song</b> and Charles R. Meyer.
                      <a href="/publications/Jean_SPIE_Poster.pdf">
                        2D-3D Image Registration using Thin-Plate Spline and Volume Rendering.
                      </a>
                      SPIE Medical Imaging 2015.
                      Orlando, FL.
                    </li>
                    <li> <b>Jean Y. Song</b>, Jeffrey A. Fessler, and Charles R. Meyer.
                      <a href="/publications/Jean_CR_final.pdf">
                        Adaptive Filtering on Conditional Mutual Information for Intermodal Non-Rigid Image Registration.
                      </a>
                      IEEE Nuclear Science Symposium and Medical Imaging Conference (NSS/MIC 2014).
                      Seattle, WA.
                    </li>
                  </ul>
                </div>


            </div>
        </div>
    </section>
